@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">YETKİNLİKLER</h2>
        <div class="subheading mb-3">PROGRAMLAMA DİLLERİ & ARAÇLAR</div>
        <ul class="list-inline dev-icons">
            @*<li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>*@
            @*<li class="list-inline-item"><i class="fab fa-js-square"></i></li>*@
            <li class="list-inline-item"><i class="devicon-c-plain"></i></li>
            <li class="list-inline-item"><i class="devicon-csharp-plain"></i></li>
            <li class="list-inline-item"><i class="devicon-dot-net-plain-wordmark"></i></li>
            <li class="list-inline-item"><i class="devicon-dotnetcore-plain"></i></li>
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="devicon-typescript-plain"></i></li>
            <li class="list-inline-item"><i class="devicon-vscode-plain"></i></li>                
            <li class="list-inline-item"><i class="devicon-postgresql-plain-wordmark"></i></li>                
            <li class="list-inline-item"><i class="devicon-microsoftsqlserver-plain-wordmark"></i></li>
                
                
            @*<li class="list-inline-item"><i class="fab fa-react"></i></li>*@
            @*<li class="list-inline-item"><i class="fab fa-node-js"></i></li>*@
            @* <li class="list-inline-item"><i class="fab fa-sass"></i></li>
            <li class="list-inline-item"><i class="fab fa-less"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
            <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
            <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>*@
        </ul>
        @*<div class="subheading mb-3">Workflow</div>*@
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Microsoft Office
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                IVR - Dialog Designer - Viases
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                EDA in Monolithic Applications
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Ardalis.GuardClauses - Automapper - FluentValidation
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Domain Driven Design (DDD)
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                SOLID, DRY Principles
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                JQuery, Bootstrap
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                HTML, JSON
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Entity Framework (Code First - Migrations)
            </li>
        </ul>
    </div>
</section>