@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">İŞ DENEYİMLERİ</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">KIDEMLİ YAZILIM GELİŞTİRME UZMANI</h3>
                <div class="subheading mb-3">YD YAZILIM</div>
                <p>İhale kapsamında YD Yazılım firması bünyesinde, "Çevre, Şehircilik, ve İklim Değişikliği Bakanlığında" ve "Türmob/Tesmer" de yönetim sistemi projelerinde görev aldım. 
                    Banka entegrasyonu gerçekleştirdim.</p>
                <p>C#, .Net Mvc, MsSql, Postgresql, .Net Core</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Ekim 2021 - Nisan 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">YAZILIM GELİŞTİRME UZMANI</h3>
                <div class="subheading mb-3">ATILIM ÜNİVERSİTESİ</div>
                <p>Üniversite çalışanlarının ve öğrencilerin kullandığı bir bilgi sistemi olan Erp yazılımının geliştirilmesinde rol aldım. 
                Bilgi sisteminin içerisinde, onay aşamaları olan, öğrencilerin ve çalışanların kullandığı anket sistemi ve sadece 
                çalışanlara açık öneri sisteminin analizini, teknik tasarımını, ve geliştirmelerini yaptım.
                </p>
                <p>Asp.net Mvc, Entity framework, C#, Oracle, Angular, .NetCore</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Ocak 2019 - Ekim 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">YAZILIM GELİŞTİRME UZMANI</h3>
                <div class="subheading mb-3">TÜRK TELEKOM</div>
                <p>SYS firmasının Viases(C#) uygulaması ve Eclipse IDE için plugin olan Dialog Designer
                    (Java) uygulaması ile çağrı merkezi (IVR) yazılımları/uygulamaları geliştirmek (Kendimi IVR yazılımları konusunda gelişti
                    rdim.) TTNet Çağrı Merkezi IVR akışı yazılımından sorumlu olmak. 
                    TTNet Çağrı Merkezi için IVR üzerinden fatura ödeme ve otomatik ödeme talimatı alma akışlarının yazılımının gerçekleş
                    tirilmesi. IDO (İstanbul Deniz Otobüsü) çağrı merkezi IVR yazılımlarını hazırlamak ve güncellemelerini yapmak. Yeni 
                    çağrı merkezleri için IVR akışları geliştirmek. Var olan çağrı merkezi IVR akışlarını güncellemek ve gerekli değişiklikleri 
                    yapmak. Çağrı merkezleri için web uygulamaları geliştirmek. İş akışının takip edildiği, her aşamada farklı kişilere görev 
                    atamalarının yapıldığı bir web uygulamasını baştan sona geliştirmek (ASP.NET ve MSSQL.) Dış kaynak (outsource) 
                    firmalarla birlikte çalışarak iş takibi ve analizi yapmak. Geliştirilen işlerin yönetime raporlanması. 
                    Çağrı merkezlerinin genel işleyişi hakkında bilgim bulunmaktadır.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Eylül 2008 - Kasım 2013</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">YAZILIM GELİŞTİRME UZMANI</h3>
                <div class="subheading mb-3">İŞLEM COĞRAFİ BİLGİ SİSTEMLERİ</div>
                <p>ArcGIS framework’ ünü kullanarak coğrafi bilgi sistemleri yazılımları geliştirdim.</p>
                <p>C#.NET, MsSql, ArcGis</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Ocak 2008 - Eylül 2008</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">STAJYER MÜHENDİS</h3>
                <div class="subheading mb-3">TAI</div>
                <p>Yazılım geliştirme sürecinin aşamaları ve proje yönetimi.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Temmuz 2006 - Ağustos 2006</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">STAJYER MÜHENDİS</h3>
                <div class="subheading mb-3">SYM A.Ş.</div>
                <p>MSMQ kullanımına yönelik C# dili ile sınıflar oluşturmak. NUnit ile oluşturulan sınıfların testlerini yapmak.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Haziran 2006 - Temmuz 2006</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">STAJYER MÜHENDİS</h3>
                <div class="subheading mb-3">MNG BİLGİSAYAR</div>
                <p>Visual Studio 2003 ve SQL 2000 deneyimini geliştirmek amacıyla küçük uygulamalar yazmak. 
                SQL ile Stored Procedure’ler ve Trigger’ lar geliştirmek. </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Haziran 2006 - Temmuz 2006</span></div>
        </div>
    </div>
</section>