@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            HASAN
            <span class="text-primary">KAPLAN</span>
        </h1>
        <div class="subheading mb-5">
            ANKARA, TÜRKİYE · (505) 071-0520 ·
            <a href="mailto:hasankaplan.kariyer@gmail.com">HASANKAPLAN.KARIYER@GMAIL.COM</a>
        </div>
        <p class="lead mb-5">Yeni teknolojileri öğrenmeye ve kendimi geliştirmeye çok önem veririm. Bunun için eğitim videolarından, 
            makalelerden, ve açık kaynak projelerden çokça faydalanırım. Yazılım mimarisi ve mimari tasarım hakkında bilgi alışverişinde bulunmayı severim.
        </p>
        <p class="lead mb-5">Şu anda freelance olarak çalışmaktayım. Uygun fiyatlı yazılım projeleri gerçekleştirmekteyim.
            Yazılım ihtiyaçlarınız için bu sayfanın en altındaki iletişim formundan veya doğrudan telefon-eposta ile bana ulaşabilirsiniz.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/hasan-kaplan-734334218/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/hasankaplan-github" target="_blank"><i class="fab fa-github"></i></a>
            @* <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>*@
        </div>
    </div>
</section>
