@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">EĞİTİM</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">ANKARA ÜNİVERSİTESİ</h3>
                <div class="subheading mb-3">YÜKSEK LİSANS</div>
                <div>Mühendislik Fakültesi - Bilgisayar Mühendisliği</div>
                <p>GPA: 3.00/4</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Eylül 2008 - Terk</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">ESKİŞEHİR OSMANGAZİ ÜNİVERSİTESİ</h3>
                <div class="subheading mb-3">LİSANS</div>
                <div>Mühendislik Mimarlık Fakültesi - Bilgisayar Mühendisliği (İngilizce)</div>
                <p>GPA: 2.88/4</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Eylül 2002 - Temmuz 2007</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">AKTEPE SÜPER LİSESİ</h3>
                <div class="subheading mb-3">LİSE</div>
                <div>Matematik Fen</div>
                <p>GPA: 4.5/5</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Eylül 1997 - Haziran 2001</span></div>
        </div>            
    </div>
</section>